.contact-us {
    padding: 5%;
    color: white !;
}

.paragraph-small {
    font-size: 20px;
    color: white;
    margin-left: 1rem;
    margin-bottom: 0.2rem;
}

.form-control {
    border-radius: 30px;
    padding: 2%;
}


.padding-2 {
    padding-right: 10%;
    padding-left: 10%;
}