/* contact us------ */

.icon-social {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.register-free {
    text-align: center;
    width: 100%;

}

.zoom {

    transition: transform .2s;
    /* Animation */
    margin: 0 auto;

}

.zoom:hover {
    transform: scale(1.1);


    cursor: pointer;

}

.marginFooter {
    margin-top: 0.7rem;
}

.icons {
    color: white !important;
    border: 1px solid white;
    padding: 11px;
    font-size: 50px;
    border-radius: 40px;
    margin: 5px !important;
}

.color-hr {
    color: white;
}

.contactus-section {
    margin: -4rem 0;
}

.contact-leftside img {
    min-width: 80%;
    max-height: 30rem;
    height: auto;
}

.contact-input-feild {
    margin-bottom: 4rem;
}

.contact-rightside form .form-control {

    --webkit-appearance: none;
    height: 3rem !important;
    box-shadow: 0 5px 38px rgba(0, 0, 0, 0.30), 0 8px 12px rgba(0, 0, 0, 0.22);
    font-size: 1.2rem;
    padding-left: 1rem;
    font-weight: lighter;
    outline: 0;

}

.contact {
    padding: 2%;
    border-radius: 20px;

}

.contact-rightside form .form-check-input {
    border: 1px solid rgb(11 60 82);
    width: 2rem;
    height: 2rem;

}

.form-checkbox-style {
    margin: 4rem 0;
}

.contact-rightside form .main-hero-para {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 400;
    margin: -2px;

    width: 92%;
    padding: 0 2rem;

}



.border-red {
    border-radius: 0px 0px 8px 8px;
}

@media (min-width:1200px) {
    .padding2 {
        padding-left: 5%;
        padding-right: 5%;
    }
}


/* contact us end----- */