/* -----------Navbar style start-------- */

.header {
    position: sticky;
    top: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* left: 0; */
    background-color: white !important;
    border-radius: 20px;
    /* right: 0; */
    z-index: 999;
    padding: 1%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(218, 218, 218);
    align-items: center;

    /* padding-top: 1rem;
  padding-bottom: 1rem; */
    justify-content: space-between;
    /* padding-left: 2rem;
  padding-right: 2rem; */
    width: 80%;
    text-transform: capitalize !important;
}

.header.active {
    background-color: white !important;

}



.header .logo {
    font-size: 2.3rem;
    color: var(--black);
    text-decoration: none;

}

@media (min-width: 1200px) {}



.header .navbar .link {
    font-size: 20px;
    margin-left: 2rem !important;
    text-transform: capitalize !important;
    color: var(--black);
    text-decoration: none;
    cursor: pointer;


}


li:hover {
    /* color: rgb(231, 154, 53) !important; */
}

.navbar {

    text-transform: capitalize !important;
}



@media(max-width:950px) {
    .header {
        position: relative;
        height: 6rem;

    }

    .menu li {
        display: block;

        width: 100%;
    }

    .logo {
        margin-top: -1rem;
    }

    .dropdown-content {


        font-weight: 500;
        display: flex;
        transition: 0.7s linear;
        align-items: center;
        text-decoration: none;
        color: #f5f5f5;
        font-size: 14px;


    }

    .navbar {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;


    }

    .link {
        color: white !important;
    }

    .navbar.active {
        margin-top: 1rem;
        left: 0;


        transition: all 0.5s ease;
        z-index: 1;
        background-color: rgb(68, 62, 6);

    }


    .link {
        text-align: center;
        margin: 1.5rem;
        width: 90%;
        display: table;
    }

    .link :hover {
        border-radius: 0;
    }

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);

    }

    .hamburger-menu {
        display: block !important;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;

    }

    .icons {
        border: 1px solid white;
        margin-top: 0.5rem;

    }
}

.icons2 {
    border: 1px solid white;
    margin-top: 0.5rem;
    font-size: 40px !important;
    color: wheat;
    border-radius: 20px;
    padding: 1%;
    background-color: #918813;

}


.hamburger-menu {
    display: none;

}

.display {
    display: none;
}


.menu {
    padding: 0;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0rem !important;
}

.menu>li,
menu>a {
    display: inline-block;
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #121212;
    display: block;
    padding: 10px 1.5rem;
}

.menu a:hover {
    color: var(--main-color);
}

ul {
    list-style: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 190px;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all 1s ease-in;
}

.dropdown-content2 {
    transition: all 1s ease-in;
    left: 100.5%;
    width: 100%;
    padding: 0;
    display: none;
    top: 0;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: .7s linear;
    /* Animation */
}

.dropdown2:hover .dropdown-content2 {
    display: block;
    transition: .7s linear;
    /* Animation */
}

.dropdown-content2 li {
    color: black;

    text-decoration: none;
    display: block;
}

.dropdown-content li {
    color: black;

    text-decoration: none;
    display: block;
}

.dropbtn {

    border: none;
}

/* -----------Navbar style end-------- */