/* -----------caursal style start-------- */


@keyframes movingclouds {
    0% {
        margin-right: 0%;
    }

    100% {
        margin-right: -100%;
    }
}


@keyframes movingclouds {
    0% {
        margin-left: 0%;
    }

    100% {
        margin-left: -100%;
    }
}

.fade {
    animation: fade-in-keyframes 2s;
}

@keyframes fade-in-keyframes {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.sky1 {
    position: relative;
    height: 60rem;
    width: 100%;
    background: rgb(114 36 147);
    /* background-image: url("/src/Images/banner.png"); */
    margin: 0 auto;
    padding-top: 50px;
}

.banner1 {

    max-width: 100% !important;
    height: auto !important;
    background-image: url("/src/Images/banner04.png");
    margin: 4px auto;
    padding-top: 50px;

}

.container-banner {
    position: relative;

}

.div-banner {
    margin-left: 1rem;
    margin-top: 1rem;
    color: white;
    top: 8px;
    left: 16px;
    position: absolute;
    z-index: 1;
}

.icon-banner {
    font-size: 90px;
    margin-top: 2.5rem;
    margin-right: 2rem;
}

.text-small-banner1 {
    font-size: 45px;
    margin-top: 1rem;
}

.text-small-banner2 {
    font-size: 35px;
    margin-top: 0.5rem;
}

.text-small-banner3 {
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

@media (max-width:750px) {

    .img-size {
        height: 20rem
    }

    .div-banner {
        margin-left: 0rem;

    }
}

.font-size-banner {
    font-size: 80px;
}


@keyframes move {
    from {
        left: 100%;
    }

    to {
        left: -100%;
    }
}

@keyframes backup {
    from {
        right: 100%;
    }

    to {
        right: -100%;
    }
}



.cloud-1 {
    position: absolute;
    animation: move 26s infinite;
    animation-timing-function: linear;
    animation-delay: -8s;
}

.cloud-5 {
    position: absolute;
    animation: move 26s infinite;
    animation-timing-function: linear;
    animation-delay: -8s;
}

.cloud-4 {
    position: absolute;
    animation: move 26s infinite;
    animation-timing-function: linear;
    animation-delay: -8s;
}

.cloud-3 {
    position: absolute;
    animation: backup 20s infinite;
    animation-timing-function: linear;
    animation-delay: -8s;
}

.cloud-2 {
    position: absolute;
    animation: backup 20s infinite;
    animation-timing-function: linear;
}

.cloud-6 {
    position: absolute;
    background-repeat: repeat-y;
    animation: backup1 36s infinite;
    animation-timing-function: linear;
    animation-delay: -8s;
}

.cloud-8 {
    position: absolute;
    background-repeat: repeat-y;
    animation: backup2 16s infinite;
    animation-timing-function: linear;
    animation-delay: -1s;
}

.cloud-10 {
    position: absolute;
    background-repeat: repeat-y;
}

.cloud-9 {
    position: absolute;
    background-repeat: repeat-y;
    animation: backup2 80s infinite;
    animation-timing-function: linear;
    animation-delay: -1s;
}

.cloud-7 {
    position: absolute;
    background-repeat: repeat-y;
    animation: backup2 45s infinite;
    animation-timing-function: linear;
    animation-delay: 8s;
}

@keyframes backup1 {
    from {
        right: 100%;
    }

    to {
        right: -100%;
    }
}

@keyframes backup2 {
    from {
        left: 100%;
    }

    to {
        left: -100%;
    }
}


@media (min-width: 1450px) and (max-width:1600px) {

    .font-size-slider {

        font-size: 70px !important;

    }

    .icon-banner {
        font-size: 60px;
        margin-top: 1.4rem;
        margin-right: 1rem;
    }





}

.color-hr2 {


    width: 40rem;


}

@media (min-width: 1250px) and (max-width:1450px) {


    .font-size-slider {

        font-size: 50px !important;

    }

    .color-hr2 {


        width: 30rem;


    }

    .icon-banner {
        font-size: 40px;
        margin-top: 1.3rem;
        margin-right: 1rem;
    }

    .text-small-banner1 {
        font-size: 35px;
        margin-top: 1rem;
    }

    .text-small-banner2 {
        font-size: 30px;
        margin-top: 0.5rem;
    }

    .text-small-banner3 {
        font-size: 16px;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

}

@media (min-width: 1000px) and (max-width:1250px) {


    .font-size-slider {

        font-size: 60px !important;

    }

    .color-hr2 {


        width: 30rem;


    }


    .icon-banner {
        font-size: 50px;
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .text-small-banner1 {
        font-size: 30px;
        margin-top: 1rem;
    }

    .text-small-banner2 {
        font-size: 25px;
        margin-top: 0.5rem;
    }

    .text-small-banner3 {
        font-size: 15px;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

}

@media (min-width: 1050px) and (max-width:1250px) {

    .color-hr2 {


        width: 30rem;


    }

    .font-size-slider {

        font-size: 50px !important;

    }


    .icon-banner {
        font-size: 40px;
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .text-small-banner1 {
        font-size: 25px;
        margin-top: 1rem;
    }

    .text-small-banner2 {
        font-size: 25px;
        margin-top: 0.5rem;
    }

    .text-small-banner3 {
        font-size: 13px;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

}

@media (min-width: 900px) and (max-width:1050px) {


    .font-size-slider {

        font-size: 30px !important;

    }


    .icon-banner {
        font-size: 30px;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }

    .text-small-banner1 {
        font-size: 17px;
        margin-top: 1rem;
    }

    .text-small-banner2 {
        font-size: 15px;
        margin-top: 0.5rem;
    }

    .text-small-banner3 {
        font-size: 13px;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

}

@media (max-width: 900px) {

    .font-size-slider {

        font-size: 30px !important;

    }

    .div-banner {
        margin-left: 0rem;

    }

    .icon-banner {
        font-size: 30px;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }

    .text-small-banner1 {
        font-size: 15px;
        margin-top: 1rem;
    }

    .text-small-banner2 {
        font-size: 13px;
        margin-top: 0.5rem;
    }

    .text-small-banner3 {
        font-size: 12px;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .color-hr2 {


        width: 30rem;


    }

}



.font-size-slider {
    color: var(--white);
    font-size: 110px;

    text-transform: uppercase;
}



/* -----------caursal style end-------- */