/* -----------caursal style start-------- */

.container-banner {
    position: relative;

}

.div-banner {
    margin-left: 1rem;
    margin-top: 1rem;
    color: white;
    top: 8px;
    left: 16px;
    position: absolute;
    z-index: 1;
}

.icon-banner {
    font-size: 90px;
    margin-top: 2.5rem;
    margin-right: 2rem;
}

.text-small-banner1 {
    font-size: 45px;
    margin-top: 1rem;
}

.text-small-banner2 {
    font-size: 35px;
    margin-top: 0.5rem;
}

.text-small-banner3 {
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

@media (max-width:750px) {

    .img-size {
        height: 16rem
    }

    .div-banner {
        margin-left: 0rem;

    }
}

.font-size-banner {
    font-size: 80px;
}


@media (min-width: 1450px) and (max-width:1600px) {

    .font-size-slider {

        font-size: 70px !important;

    }

    .icon-banner {
        font-size: 60px;
        margin-top: 1.4rem;
        margin-right: 1rem;
    }





}

.size-1 {
    width: 42rem;
}


.color-hr2 {


    width: 40rem;


}

@media (min-width: 1250px) and (max-width:1450px) {


    .size-1 {
        width: 35rem;
    }

    .font-size-slider {

        font-size: 50px !important;

    }

    .color-hr2 {


        width: 30rem;


    }

    .icon-banner {
        font-size: 40px;
        margin-top: 1.3rem;
        margin-right: 1rem;
    }

    .text-small-banner1 {
        font-size: 35px;
        margin-top: 1rem;
    }

    .text-small-banner2 {
        font-size: 30px;
        margin-top: 0.5rem;
    }

    .text-small-banner3 {
        font-size: 16px;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

}

@media (min-width: 1000px) and (max-width:1250px) {


    .font-size-slider {

        font-size: 60px !important;

    }

    .size-1 {
        width: 30rem;
    }

    .color-hr2 {


        width: 30rem;


    }


    .icon-banner {
        font-size: 50px;
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .text-small-banner1 {
        font-size: 30px;
        margin-top: 1rem;
    }

    .text-small-banner2 {
        font-size: 25px;
        margin-top: 0.5rem;
    }

    .text-small-banner3 {
        font-size: 13px;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

}

.icons {
    color: white !important;
    border: 1px solid white;
    padding: 11px;
    font-size: 50px;
    border-radius: 40px;
    margin: 5px !important;
}

@media (min-width: 900px) and (max-width:1000px) {

    .size-1 {
        width: 25rem;
    }


    .font-size-slider {

        font-size: 40px !important;

    }

    .color-hr2 {
        margin-top: 0.2rem;

        width: 25rem;


    }



    .icon-banner {
        font-size: 40px;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }

    .text-small-banner1 {
        font-size: 17px;
        margin-top: 1rem;
    }

    .text-small-banner2 {
        font-size: 15px;
        margin-top: 0.5rem;
    }

    .text-small-banner3 {
        font-size: 10px;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

}

@media (min-width: 850px) and (max-width:900px) {

    .size-1 {
        width: 23rem;
    }

    .font-size-slider {

        font-size: 40px !important;

    }

    .color-hr2 {
        margin-top: 0.2rem;

        width: 25rem;


    }



    .icon-banner {
        font-size: 40px;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }

    .text-small-banner1 {
        font-size: 17px;
        margin-top: 1rem;
    }

    .text-small-banner2 {
        font-size: 15px;
        margin-top: 0.5rem;
    }

    .text-small-banner3 {
        font-size: 10px;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

}

@media (max-width: 850px) {

    .font-size-slider {

        font-size: 30px !important;

    }

    .size-1 {
        width: 14rem;
    }

    .div-banner {
        margin-left: -0.8rem;
        margin-top: -0.2rem;

    }



    .icon-banner {
        font-size: 30px;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }

    .text-small-banner1 {
        font-size: 15px;
        margin-top: 0.2rem;
    }

    .text-small-banner2 {
        font-size: 11px;
        margin-top: 0rem;
    }

    .text-small-banner3 {
        font-size: 8px;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .color-hr2 {


        width: 14rem;


    }

    .icons {
        color: white !important;
        border: 1px solid white;
        padding: 11px;

        font-size: 50px;
        border-radius: 40px;
        margin: 1px !important;

    }
}



.font-size-slider {
    color: var(--white);
    font-size: 110px;

    text-transform: uppercase;
}



/* -----------caursal style end-------- */