:root {
    --main-color: rgb(114 36 147)F;
    --black: #222;
    --white: #fff;
    --light-black: #777;
    --light-white: #fff9;
    --dark-bg: rgba(0, 0, 0, .7);
    --light-bg: #eee;
    --border: .1rem solid var(--black);
    --box-shadow: 1px 5px 10px 5px #ccc;
    --box-shadow2: 10px 10px 10px 10px #ccc;
    --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .3);
}

/* Card---small---- */

.icons {
    /* color: white !important;
    border: 1px solid white;
    padding: 11px;
    font-size: 50px;
    border-radius: 40px;
    margin: 5px !important; */
}

/* .div-icons {
    width: 5rem;
    margin-top: auto;
    margin-bottom: auto;
} */


.icons-small {
    background-color: var(--main-color);
    color: white;
    width: 3rem;
    font-size: 40px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.card {
    height: 273px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 106px 0px;
    box-shadow: var(--box-shadow);
}


.card:hover {
    /* background-color: var(--main-color); */
    transition: 1s;
    color: white;
}



.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: var(--main-color);
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.card-small {
    display: block;
    position: relative;
    background-color: #f2f8f9;
    border-radius: 4px;


    text-decoration: none;
    z-index: 0;
    overflow: hidden;
}

.card-small:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: var(--main-color);
    height: 32px;
    width: 45px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.45s ease-out;
}


.card-small:hover:before {
    transform: scale(21);
}

.card-small p :hover {

    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);



}

.card-small h3 :hover {

    transition: all 0.3s ease-out;
    color: #ffffff;
    font-weight: bold;

}

.tran {
    transition: 2s;
}




/*------ card-style-end------ */